<!DOCTYPE html>
<html>

<head>
  <title>A/B Test drill</title>
  <meta name="description" content="Example solution of A/B test drill from Thinkful's Node course">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>A/B test</h1>

  <div class="js-no-cookie">
    <p>Cookie not set</p>
  </div>
  <div class="js-a-container hidden">
    <p>This is the *A* container</p>
  </div>
  <div class="js-b-container hidden">
    <p>This is the *B* container</p>
  </div>

  <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="/client.js"></script>
</body>

</html>
